# Node dependencies
node_modules/
dist/
electron/node_modules/
electron/dist/

# Capacitor
android/
ios/

# Logs
*.log
npm-debug.log*

# OS specific
.DS_Store
Thumbs.db

# Build artifacts
*.exe
*.apk
*.zip

# Local environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local